<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsmediatags/3.9.5/jsmediatags.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mp3tag.js@latest/dist/mp3tag.min.js"></script>
    
</head>
<body>
    <div id="app">
        <input style="cursor: pointer;" type="file" id="file" multiple="multiple" />
    </div>
    
    <div>
        <table id="table"></table>
    </div>

    <script>
        const table = document.getElementById('table')

        $(document).ready(() => {
            const inputFile = document.getElementById('file')
            inputFile.onchange =async function () {
                let dcf = document.createDocumentFragment()
                for (f of this.files){
                    let ra = await readAudio(f)
                    let tr = document.createElement('tr')
                    for (key of Object.keys(ra)){
                        let td = document.createElement('td')
                        td.textContent = ra[key]
                        tr.appendChild(td)
                    }
                    dcf.appendChild(tr)
                    table.appendChild(dcf)
                }
            }
        });

        async function readAudio(file){
            let result = {
                name:file.name,
                size: file.size,
                duration: 0
            }
            const urlObj = URL.createObjectURL(file);
            let src = urlObj
            let rs = await getDuration(src)
            result.duration = rs
            return result
        }

        async function getDuration(src) {
            return new Promise(function(resolve) {
                var audio = new Audio();
                $(audio).on("loadedmetadata", function(){
                    resolve(audio.duration);
                });
                audio.src = src;
            });
        }
    </script>
</body>
</html>