<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <title><%= data.name %></title>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.0.943/pdf.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.13.216/pdf.js"></script>
    <script async type="text/javascript" src="/script/pdf/pdf.engine.js"></script>
    <style>
        html,body{
            margin: 0;
            font-size: 12px;
        }
        .header-wrapper {
            position: fixed;
            top: 0;
        }
        .viewer-wrapper {
            width: 100%;
            /* height: var(100vh - 80px); */
            position: absolute;
            white-space: nowrap;
            background-color: lightsteelblue;
            overflow: auto;
        }
        /* text layer */
        .viewer-textlayer {
            position: absolute;
            width: 100%; 
            top: 0;
            left: 0;
            visibility: hidden;
        }
        .viewer-textlayer> div {
            position: absolute;
            color: transparent;
        }
        .bottom-navigation{
            display: inline-flex;
            position: fixed;
            height: auto;
            background-color: lightgray;
            bottom: 0;
            width: 100%;
            justify-content: space-between;
            z-index: 10;
        }
        .bottom-navigation .page-wrapper {
            display: inline-flex;
        }
        .bottom-navigation .button-wrapper {
            margin: auto 0 auto 0;
        }

        .viewer-page-dual-mode-wrapper, .viewer-page-mode-wrapper, .viewer-scroll-mode-wrapper{
            width: auto;
            text-align: center;
        }
        .viewer-page-dual-mode-wrapper > div, .viewer-page-mode-wrapper > div, .viewer-scroll-mode-wrapper > div{
            display: flex;
            align-items: center;
            justify-content: center;
        }

        /* 스크롤모드 */
        .viewer-scroll-mode-wrapper ,.viewer-scroll-mode-wrapper >div{
            height: 100%;
        }
        .viewer-page-dual-mode-wrapper > div{
            display: inline-flex;
        }
        canvas {
            /* display: block; */
        }

        .viewer-common-layer {
            display: none;
            height: 43%; 
            width: 100%; 
            position: fixed; 
            bottom: 0;
            background-color: antiquewhite;
        }
        .viewer-toc-wrapper {
            
        }
        ul {
            width: 100%; 
            height: 100%; 
            overflow-y: auto;
            margin: 10px 0 0 0;
            padding: 0;
        }
        ul li{
            width: 100%;
            list-style:none; 
            float:left;
        }
        
        
        ul li:nth-child(5){clear:both;}
        ul li h1 a{text-decoration:none;}

        .viewer-horizontal-scroll-mode-wrapper>div>ul{
            /* overflow: hidden; */
            overflow-x: auto;
            margin: auto;
            text-align: center;
        }
        .viewer-horizontal-scroll-mode-wrapper>div>ul>li{
           display: inline-block;
           float: none;
           background-color: lightgrey;
        }
        .textLayer > * {
            position: absolute;
            /* z-index: 50; */
        }
        .textLayer span, .textLayer br {
            color: transparent;
            position: absolute;
            white-space: pre;
            cursor: text;
        }
    </style>
</head>
<body>
    <div style="width: 100vw; height: 100vh;">
        <!-- head -->
        <div class="header-wrapper">
            <h1><%= data.name %></h1>
            <div class="button-wrapper">
                <button onclick="PdfEngine.Toc.toggleToc()">목차</button>
                <button onclick="PdfEngine.Search.onToggleSearch()">검색</button>
            </div>
        </div>
        <!-- viewer area -->
        <div class="viewer-wrapper" id="viewer-wrapper" style="height: 100%;">
            <!-- 단면 -->
            <div class="viewer-page-mode-wrapper" id="viewer-page-mode-wrapper">
                <div>
                    <canvas id="render-container"></canvas>
                </div>
                <div class="viewer-textlayer" id="textlayer"></div>
            </div>
            <!--양면 -->
            <div class="viewer-page-dual-mode-wrapper" id="viewer-page-dual-mode-wrapper" >
                <div>
       
                </div>
                <!-- <div class="viewer-textlayer" id="textlayer"></div> -->
            </div>
            <!-- 세로 스크롤 -->
            <div class="viewer-scroll-mode-wrapper" id="viewer-scroll-mode-wrapper">
                <div>

                </div>
                <!-- <div class="viewer-textlayer" id="textlayer"></div> -->
            </div>
            <!-- 가로 스크롤 -->
            <div class="viewer-horizontal-scroll-mode-wrapper" id="viewer-horizontal-scroll-mode-wrapper">
                <div>

                </div>
            </div>
        </div>
       
        <!-- bottom area -->
        <div class="bottom-navigation">
            <div class="page-wrapper">
                <p id="current_page"></p>
                <p>/</p>
                <p id="total_page"></p>
            </div>

            <div class="button-wrapper">
                <input id="input_range" type="range">
            </div>
            <div class="button-wrapper">
                <button onclick="PdfEngine.Zoom.zoomMinus()">-</button>
                <button onclick="PdfEngine.Zoom.zoomOrigin()">기본</button>
                <button onclick="PdfEngine.Zoom.zoomPlus()">+</button>
            </div>

            <div class="button-wrapper">
                <button onclick="PdfEngine.Navi.prev()">prev</button>
                <button onclick="PdfEngine.Navi.next()">next</button>
                <button onclick="reqFullscreen()">fullscreen</button>
            </div>

            <div class="button-wrapper">
                <button onclick="PdfEngine.View.setMode(0,true)">첫페이지 양면</button>
                <button onclick="PdfEngine.View.setMode(1,true)">양면</button>
                <button onclick="PdfEngine.View.setMode(2,true)">단면</button>
                <button onclick="PdfEngine.View.setMode(3,true)">스크롤</button>
                <button onclick="PdfEngine.View.setMode(4,true)">가로 스크롤</button>
                <!-- <button onclick="PdfEngine.Loader.loadAll()">전부업데이트</button> -->
                <button onclick="PdfEngine.Loader.loadChaining(1)">TEST</button>
            </div>
        </div>

        <div pdf-viewer-layer='toc' class="viewer-common-layer" id="viewer-toc-wrapper"  style="display: none;">
            <ul id="viewer-toc-list"></ul>
        </div>

        <div pdf-viewer-layer='search' class="viewer-common-layer" id="viewer-search-wrapper">
            <div>
                <input type="text" id="viewer-search-input">
                <button  id="viewer-search-btn" onclick="PdfEngine.Search.onSearch()">검색</button>
            </div>
            <div id="viewer-search-contents-wrapper"></div>
        </div>
    </div>


    <script>
        
        let rect = document.querySelector('.header-wrapper').getBoundingClientRect();
        document.querySelector('.viewer-wrapper').style.marginTop = rect.height + 'px'


        window.onload = function(){
            //file url
            let url = '<%= data.url %>'
            //@require public/script/pdf.engine.js
            PdfEngine.Config.init(url)
        }        
    </script>
</body>
</html>