<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <title><%= data.name %></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.13.216/pdf.js"></script>
    <script type="text/javascript" src="/script/pinch-zoom.js"></script>
    <script defer type="text/javascript" src="/script/pdf/pdf.engine.ver6.js"></script>
    <style>
        :root {
            --pdf-page-margin: 0px auto 0px;
            --pdf-page-border: 0px solid transparent;
        }
        * {
            padding: 0;
            margin: 0;
            scroll-snap-stop: always;
        }
        body{
            background-color: darkgray;
        }
        .viewer-wrapper {
            overflow: auto;
            position: absolute;
            top: 32px;
            right: 0;
            bottom: 0;
            left: 0;
            outline: none;
            white-space: nowrap; /* Prevent content from wrapping */
            overflow-x: scroll; /* Enable horizontal scrolling */
            border: 1px solid #ccc;
        }
        .recyler-inner-item{
            margin: var(--pdf-page-margin);
            position: relative;
            overflow: visible;
            border: var(--pdf-page-border);
            word-wrap: break-word;
        }
        .recyler-inner-item .page{
            margin: 0 auto;
        }
        .textLayer {
            position: absolute;
            text-align: initial;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            opacity: 0.0;
            line-height: 1;
            -webkit-text-size-adjust: none;
            -moz-text-size-adjust: none;
            text-size-adjust: none;
        }
        .textLayer span, .textLayer br{
            position: absolute;
            white-space: pre;
            cursor: text;
            transform-origin: 0% 0%;
        }
        .bottom-navigation {
            position: fixed;
            width: 100%;
            bottom: 0;
            background-color: beige;
        }
    </style>
</head>
<body>
    <div>
        <button>dd</button>
    </div>
    <!-- 고정영역 -->
    <div class="viewer-wrapper" id="viewer-wrapper">
        
    </div>


    <div class="bottom-navigation">
        <div>
            <p id="current-page"></p>
        </div>
       
    </div>

    <script>
        window.onload = function(){

            // alert()
            //file url
            let url = '<%= data.url %>'

            
            //@require public/script/pdf.engine.js
            PdfEngine.Config.init(url)
        }  
    </script>
</body>
</html>