<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        /* * {
            touch-action: manipulation
        } */
        :root {
            --img-padding: 20px;
        }
        .container {
            text-align: center;
            overflow: scroll;
            margin: 0 auto 0;
            background-color: yellowgreen;
            height: 100vh;
        }
        .inner-scroll {
            width: 100%;
        }

        /* .inner-scroll img{
            touch-action: manipulation
        } */
        img {
            object-fit: cover;
            background-color: red;
            padding: var(--img-padding)
        }
    </style>
<script src="/script/zoom.js"></script>
    
</head>
<body  style="touch-action:none">

    <div class="container">
        <div style="height: 100%;">
            <div class="outter-scroll" style="height: 100%;">
                <div class="inner-scroll">
                    <img src="static/image/001.jpg" alt="" data=1>
                    <img src="static/image/002.jpg" alt="" data=2>
                    <img src="static/image/003.jpg" alt="" data=3>
                    <img src="static/image/004.jpg" alt="" data=4>
                    <img src="static/image/005.jpg" alt="" data=5>
                    <img src="static/image/006.jpg" alt="" data=6>
                    <img src="static/image/007.jpg" alt="" data=7>
                    <img src="static/image/008.jpg" alt="" data=8>
                    <img src="static/image/009.jpg" alt="" data=9>
                    <img src="static/image/010.jpg" alt="" data=10>
                </div>
            </div>
        </div>
    </div>


    <div style="position: fixed;">
        <button onclick="on(this)">+</button>
        <button onclick="off(this)">-</button>
    </div>


    <script>

        const GesturePack = {
            evCache: new Array(),
            prevDiff: -1,
            initDist: -1,
            scale: 1,
            init(el) {
                // el.onpointerdown = GesturePack.pointerdown_handler;
                // el.onpointermove = GesturePack.pointermove_handler;
                // el.onpointerup = GesturePack.pointerup_handler;
                // el.onpointercancel = GesturePack.pointerup_handler;
                // el.onpointerout = GesturePack.pointerup_handler;
                // el.onpointerleave = GesturePack.pointerup_handler;
                GesturePack.preventWindowGesture()
            },
            pointerdown_handler(ev){
                GesturePack.evCache.push(ev);
                if (GesturePack.evCache.length == 2) {
                    GesturePack.initDist = Math.hypot(GesturePack.evCache[0].pageX - GesturePack.evCache[1].pageX,GesturePack.evCache[0].pageY - GesturePack.evCache[1].pageY);
                }
            },
            pointermove_handler(ev){
                for (var i = 0; i < GesturePack.evCache.length; i++) {
                    if (ev.pointerId == GesturePack.evCache[i].pointerId) {
                        GesturePack.evCache[i] = ev;
                        break;
                    }
                }
                if (GesturePack.evCache.length == 2) {
                    var curDiff = Math.abs(GesturePack.evCache[0].clientX - GesturePack.evCache[1].clientX);
                    var dist = Math.hypot(GesturePack.evCache[0].pageX - GesturePack.evCache[1].pageX,GesturePack.evCache[0].pageY - GesturePack.evCache[1].pageY);

                    let d = dist/GesturePack.initDist

           
                    console.log(GesturePack.scale, d)
                    // beforeZoomFactor = zoomFactor
                    // zoomFactor = d
                    // zoomUpdate()
                    // console.log(GesturePack.initDist,dist , dist/(dist+GesturePack.initDist) )
                    // console.log(GesturePack.initDist - dist)
                    if (GesturePack.prevDiff > 0) {
                        if (curDiff > GesturePack.prevDiff) {
                            // console.log('>>>>',curDiff,1-GesturePack.prevDiff,curDiff/GesturePack.prevDiff)
                        }
                        if (curDiff < GesturePack.prevDiff) {
                            // console.log('<<<<',curDiff,GesturePack.prevDiff)
                        }
                    }
                    GesturePack.prevDiff = curDiff;
                    curDiff = null
                }
            },
            pointerup_handler(ev) {
                GesturePack.remove_event(ev);
                if (GesturePack.evCache.length < 2) {
                    GesturePack.prevDiff = -1;
                }
            },
            remove_event(ev) {
                for (var i = 0; i < GesturePack.evCache.length; i++) {
                    if (GesturePack.evCache[i].pointerId == ev.pointerId) {
                        GesturePack.evCache.splice(i, 1);
                        break;
                    }
                }
            },
            getDistance(a, b) {
                var x, y;
                x = a.x - b.x;
                y = a.y - b.y;
                return Math.sqrt(x * x + y * y);
            },
            calculateScale(startTouches, endTouches) {
                var startDistance = GesturePack.getDistance(startTouches[0], startTouches[1]),
                    endDistance = GesturePack.getDistance(endTouches[0], endTouches[1]);
                return endDistance / startDistance;
            },
            targetTouches(touches) {
                return Array.from(touches).map(function (touch) {
                    return {
                        x: touch.pageX,
                        y: touch.pageY
                    };
                });
            },
            preventWindowGesture(){
                defaultViewScale = window.visualViewport ? window.visualViewport.scale : 1;
                document.addEventListener('mousewheel', function(e) {
                    if(e.deltaY % 1 !== 0) {
                        e.preventDefault();
                    }
                });
                if(window.visualViewport && window.visualViewport.addEventListener) {
                        window.visualViewport.addEventListener('resize', function(e) {

                            if(window.visualViewport.scale != defaultViewScale) {
                                document.body.style.webkitTransform = 'scale('+defaultViewScale+')';
                                document.body.style.webkitTransformOrigin = '0 0';
                                document.body.style.transform = 'scale('+defaultViewScale+')';
                                document.body.style.transformOrigin = '0 0';
                                return;
                            }
                        });
                }
                document.addEventListener('touchmove', function (event) {
                    if (event.scale != undefined&&event.scale !== 1) { 
                        event.preventDefault(); 
                    }
                }, { passive: false });
            }
        };

        


        const container = document.getElementsByClassName('container')[0]
        const outSC = document.getElementsByClassName('outter-scroll')[0]
        const innnerSC = document.getElementsByClassName('inner-scroll')[0]

        GesturePack.init(innnerSC)

        const originRects = innnerSC.getBoundingClientRect()
        const imgs = document.getElementsByTagName('img')
        const imgList = new Map()
        for (let img of imgs){
            img.onload = onImamgeLoad
        }
        let loaded = 0
        function onImamgeLoad(e) {
            console.log(e)
            
            if (loaded === imgs.length-1){
                console.log('##')
                // new PinchZoom(outSC)
            }
            loaded+=1
            
        }
        new BDBZoom(innnerSC)
        
        let maxZoom = 2
        let minZoom = 0.5
        let zoomFactor = 1
        let beforeZoomFactor = 1
        let newScale = 1.0
        let beforeScale = newScale
        let inAnimation = false
        let duration = 300
        
        function scaleZoomFactor(){
            zoomFactor = Math.min(maxZoom, Math.max(zoomFactor, min));
        }
        function on(bust){
            beforeZoomFactor = zoomFactor
            zoomFactor += 0.1
            zoomUpdate()
        }
        function off(bust){
            beforeZoomFactor = zoomFactor
            zoomFactor -= 0.1
            zoomUpdate()
        }
        setStyleInit(innnerSC)
        resizeContainer()
        
        let lResize = null
        window.addEventListener('resize',function(){
            if (lResize){
                clearTimeout(lResize)
            }
            lResize =  setTimeout(resizeContainer, 0);
        })

        function stopAnimation(){
            inAnimation = false
        }
        function zoomUpdate(){
            if (zoomFactor === 1){
                return;
            }
            // scaleZoomFactor()
            stopAnimation();

            let currentRect = innnerSC.getBoundingClientRect()
            let currentTop = 0;
            let currentHeight = 0;
            var startZoomFactor = zoomFactor,
            mzoomFactor = 1

            console.log(beforeZoomFactor,zoomFactor)
            let updateProgress = (function(progress){
                console.log(zoomFactor,progress)
                setStyle(innnerSC,progress,0,0)
          
            }).bind(this)
            animate(duration,updateProgress,swing,function(){
                // clearStyle(innnerSC)
                // resizeContainer()
            })
        }

        function resizeContainer(){
            // scaleZoomFactor()
            let w = window.innerWidth * 0.7
            let h = window.innerHeight * 0.95
            let pad = parseInt(getValue('--img-padding'))
            container.style.width = w +'px'
            container.style.height = h +'px'

            let imgW = w * zoomFactor
            for (let img of imgs){
                img.style.width = imgW - (pad*2) + 'px'
            }            

            w = null
            h = null
            pad = null
            imgW = null
        }

        function setStyleInit(el){
            el.style.webkitTransformOrigin = '0% 0%';
            el.style.mozTransformOrigin = '0% 0%';
            el.style.msTransformOrigin = '0% 0%';
            el.style.oTransformOrigin = '0% 0%';
            el.style.transformOrigin = '0% 0%';
        }

        function setStyle(element ,zoom,offsetX,offsetY){
			var transform3d = 'scale3d('     + zoom + ', '  + zoom + ',1) ' +'translate3d(' + offsetX    + 'px,' + offsetY    + 'px,0px)';
			var transform2d = 'scale('       + zoom + ', '  + zoom + ') ' +'translate('   + offsetX    + 'px,' + offsetY    + 'px)';
			element.style.webkitTransform = transform3d;
			element.style.mozTransform = transform2d;
			element.style.msTransform = transform2d;
			element.style.oTransform = transform2d;
			element.style.transform = transform3d;
            // element.style.transformOrigin = "50% 0%"
            
		}

        function clearStyle(element){
            element.style.removeProperty('webkitTransform')
			element.style.removeProperty('mozTransform')
			element.style.removeProperty('msTransform')
			element.style.removeProperty('oTransform')
			element.style.removeProperty('transform')
        }

        function getValue(value){
            return getComputedStyle(document.documentElement).getPropertyValue(value)
        }

        function swing(p) {
            return -Math.cos(p * Math.PI) / 2  + 0.5;
        }

        
        function animate(duration, framefn, timefn, callback){
            var startTime = new Date().getTime(),
                renderFrame = (function () {
                    if (!inAnimation) { return; }
                    var frameTime = new Date().getTime() - startTime,
                        progress = frameTime / duration;
                    if (frameTime >= duration) {
                        framefn(1);
                        if (callback) {
                            callback();
                        }
                        // resizeContainer()
                        inAnimation = false;
                        // resizeContainer()
                    } else {
                        if (timefn) {
                            progress = timefn(progress);
                        }
                        framefn(progress);
                        // resizeContainer()
                        requestAnimationFrame(renderFrame);
                    }
                }).bind(this);
            inAnimation = true;
            requestAnimationFrame(renderFrame);
        }
    </script>
</body>
</html>