@font-face {
	font-family:"Adobe Myungjo Std M";
	font-style:normal;
	font-weight:500;
	src : url("../font/AdobeMyungjoStd-Medium.otf");
}
@font-face {
	font-family:"Malgun Gothic";
	font-style:normal;
	font-weight:bold;
	src : url("../font/MalgunGothicBold.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
@page {
	margin : 0px 0px 0px 0px;
}
div.기본-텍스트-프레임 {
	border-style:solid;
}
table.기본-표 {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:3px;
	margin-top:3px;
}
td.기본-표 {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:1px;
	padding-bottom:1px;
	padding-left:1px;
	padding-right:1px;
	vertical-align:top;
}
tr.기본-표 {
	page-break-after:auto;
	page-break-before:auto;
}
p.기본-단락 {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Adobe Myungjo Std M", serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:1.833;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.소절 {
	color:#000000;
	font-family:"Malgun Gothic", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.장 {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Malgun Gothic", sans-serif;
	font-size:1.333em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.375;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.절 {
	-epub-text-align-last:left;
	color:#000000;
	font-family:"Malgun Gothic", sans-serif;
	font-size:1em;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:justify;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
td.CellOverride-1 {
	vertical-align:middle;
}
p.ParaOverride-1 {
	text-align:center;
}
p.ParaOverride-2 {
	text-align:left;
}
span.CharOverride-1 {
	font-size:0.833em;
}
span.CharOverride-2 {
	font-size:0.667em;
}
span.CharOverride-3 {
	font-size:0.625em;
}
table._idGenTablePara-1 {
	margin-left:auto;
	margin-right:auto;
}
#_idContainer000 {
	display:inline-block;
	height:638px;
	position:relative;
	width:431px;
}
#_idContainer001 {
	display:inline-block;
	height:638px;
	width:431px;
}
#_idContainer002, #_idContainer003, #_idContainer006, #_idContainer024, #_idContainer030 {
	display:inline-block;
	height:524px;
	width:317px;
}
#_idContainer004 {
	display:inline-block;
	height:211px;
	width:317px;
}
#_idContainer005, #_idContainer012 {
	display:inline-block;
	height:237px;
	width:317px;
}
#_idContainer007 {
	display:inline-block;
	height:239px;
	width:317px;
}
#_idContainer008 {
	display:inline-block;
	height:411px;
	width:317px;
}
#_idContainer009 {
	display:inline-block;
	height:319px;
	width:317px;
}
#_idContainer010 {
	display:inline-block;
	height:136px;
	width:317px;
}
#_idContainer011 {
	display:inline-block;
	height:525px;
	width:317px;
}
#_idContainer013 {
	display:inline-block;
	height:238px;
	width:317px;
}
#_idContainer014 {
	display:inline-block;
	height:173px;
	width:317px;
}
#_idContainer015 {
	display:inline-block;
	height:236px;
	width:317px;
}
#_idContainer016 {
	display:inline-block;
	height:261px;
	width:317px;
}
#_idContainer017 {
	display:inline-block;
	height:197px;
	width:317px;
}
#_idContainer018, #_idContainer019 {
	display:inline-block;
	height:225px;
	width:317px;
}
#_idContainer020 {
	display:inline-block;
	height:230px;
	width:317px;
}
#_idContainer021 {
	display:inline-block;
	height:233px;
	width:317px;
}
#_idContainer022 {
	display:inline-block;
	height:195px;
	width:152px;
}
#_idContainer023 {
	display:inline-block;
	height:170px;
	width:317px;
}
#_idContainer025 {
	display:inline-block;
	height:310px;
	width:317px;
}
#_idContainer026 {
	display:inline-block;
	height:189px;
	width:315px;
}
#_idContainer027 {
	display:inline-block;
	height:139px;
	width:312px;
}
#_idContainer028 {
	display:inline-block;
	height:99px;
	width:299px;
}
#_idContainer029 {
	display:inline-block;
	height:101px;
	width:299px;
}
#_idContainer031 {
	display:inline-block;
	height:101px;
	width:317px;
}
#_idContainer032 {
	display:inline-block;
	height:99px;
	width:317px;
}
#_idContainer033, #_idContainer034 {
	display:inline-block;
	height:214px;
	width:317px;
}
#_idContainer035 {
	display:inline-block;
	height:188px;
	width:317px;
}
#_idContainer036 {
	display:inline-block;
	height:263px;
	width:317px;
}
#_idContainer037 {
	display:inline-block;
	height:283px;
	width:317px;
}
#_idContainer040 {
	display:inline-block;
	height:100px;
	width:163px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
