body{

}

.list-view-holder-section {

}

.list-view-holder-section li{
    cursor: pointer;
}

.grid-view-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.grid-view-wrapper > .grid-item{
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
}

