<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/main.css">
    <script type="module" src="/script/mainView.js"></script>
    <script type="module" src="/script/main.js"></script>

    <script type="module" src="/script/pdflib/build/pdf.js"></script>
</head>
<body>
    <div>
        <h1>테스트 서버</h1>
        <button></button>
    </div>
    <div class="container">
        <div class="list-view-holder" id="main-list-view"></div>
    </div>

    <div class="grid-view-wrapper" id="grid-view-wrapper">
  
    </div>
</body>
</html>