body {
	-webkit-text-size-adjust: 100%;
	font-weight: 400;
	font-family: 'AppleSDGothicNeo', 'Noto Sans KR', sans-serif;
	font-size: 1em;
	line-height: 2.5;
	color: #555;
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

body > .wrap > section {
   max-width: 1200px;
}

header nav h1 {
    margin-left: 20px;
}

.container{
    position: relative;
}

div > header > nav > div{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 20px;
}

div > header > nav > div > ul{
    float: right;
}

div > header > nav > div > ul > li {
    display: inline;
    
    padding: 10px;
    cursor: pointer;
}

.container {
    background-color: #F0F0F0;
    margin: 0 auto;
}

.container > .listViewHolder {
    min-height: 30vh;
    background-color: white;
    margin-bottom: 2px;
}

.container > .listViewHolder > label{
    margin-left: 20px;
    font-size: 24px;
}

.container > .listViewHolder > .wrapper,h1 {
    margin-right: 20px;
    margin-left: 20px;
}
.liveListWrap{
    width: 100%;
}
.liveListItem{
    width: calc(25% - 20px);
    display: inline-block;
    text-align: center;
}

.liveListItem > img{
    background-color: darkgray;
}