*{
    margin: 0;
    padding: 0;
}
html {-webkit-text-size-adjust:100%;line-height:1.15;}
body {margin:0; font-family: LINESeedKR; font-weight: 400;}
main {display:block}
h1 {font-size:2em;margin:.67em 0}
hr {box-sizing:content-box;height:0;overflow:visible}
pre {font-family:monospace, monospace;font-size:1em}
a {background-color:transparent}
abbr[title] {border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b, strong {font-weight:bolder}
code, kbd, samp {font-family:monospace, monospace;font-size:1em}
small {font-size:80%}
sub, sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub {bottom:-.25em}
sup {top:-.5em}
img {border-style:none}
button, input, optgroup, select, textarea {font-family:inherit;font-size:100%;line-height:1.15;margin:0}
button, input {overflow:visible}
button, select {text-transform:none}
[type=button], [type=reset], [type=submit], button {-webkit-appearance:button}
[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {border-style:none;padding:0}
[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {outline:1px dotted ButtonText}
fieldset {padding:.35em .75em .625em}
legend {box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}
progress {vertical-align:baseline}
textarea {overflow:auto}
[type=checkbox], [type=radio] {box-sizing:border-box;padding:0}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {height:auto}
[type=search] {-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration {-webkit-appearance:none}
::-webkit-file-upload-button {-webkit-appearance:button;font:inherit}
details {display:block}
summary {display:list-item}
[hidden], template {display:none}
li {list-style: none;}
.container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
:root {
    --viewer-parent-width: 500px;
    --viewer-parent-height: 500px;
}
.read-area {
    background-color: antiquewhite;
}

.player-container {
    width: 100%;
    display: flex;
    position: fixed;
    bottom: 0;
    justify-content: center;
}
.player-container .player-group{
    display: flex;
    justify-content: center;
}
.player-container .player-group .player-parent {
    display: inline-block;
    position: relative;
    padding: 8px;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    z-index: 0;
    line-height: 1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box !important;
    align-self: center;
}
.player-group .player-button-sm {
    width: 40px;
    height: 40px;
}
.player-group .player-button-lg {
    width: 56px;
    height: 56px;
}

.spinner{
    position: absolute;
    width: 50%;
    height: 50%;
    left: 25%;
    top: 25%;
}
.viewer {
    position: relative;
    width: var(--viewer-parent-width);
    height: var(--viewer-parent-height);
    overflow-x: auto;
}

.bdb-tts-draw-layer{
    position: absolute;
    top: 0;
    transform: none;
    transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, 
    transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    translate 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: top center;
    -o-transform-origin: top center;
    -ms-transform-origin: top center;
    -webkit-transform-origin: top center;
    pointer-events: none;
    width: 100%;
    height: 100%;
}