@charset "UTF-8";

/* COMMON CSS */
/* KEY COLOR VARIABLES */
:root {
  --key-color0: #2968b5;
  --key-color1: #2968b533;
  --key-color2: #2968b5cc;
  --key-color3: #0f55aa;
  --key-color4: #2968b526;
}
/* WEB FONT CSS */
@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Thin"), local("NotoSans-Thin"), url(../webfont/eot/NotoSansKR-Thin-Hestia.eot), url(../webfont/eot/NotoSansKR-Thin-Hestia.eot?#iefix) format("embedded-opentype"),
    url(../webfont/woff/NotoSansKR-Thin-Hestia.woff) format("woff"), url(../webfont/otf/NotoSansKR-Thin-Hestia.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Light"), local("NotoSans-Light"), url(../webfont/eot/NotoSansKR-Light-Hestia.eot), url(../webfont/eot/NotoSansKR-Light-Hestia.eot?#iefix) format("embedded-opentype"),
    url(../webfont/woff/NotoSansKR-Light-Hestia.woff) format("woff"), url(../webfont/otf/NotoSansKR-Light-Hestia.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 350;
  src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url(../webfont/eot/NotoSansKR-DemiLight-Hestia.eot),
    url(../webfont/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix) format("embedded-opentype"), url(../webfont/woff/NotoSansKR-DemiLight-Hestia.woff) format("woff"),
    url(../webfont/otf/NotoSansKR-DemiLight-Hestia.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 400;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"), url(../webfont/eot/NotoSansKR-Regular-Hestia.eot), url(../webfont/eot/NotoSansKR-Regular-Hestia.eot?#iefix) format("embedded-opentype"),
    url(../webfont/woff/NotoSansKR-Regular-Hestia.woff) format("woff"), url(../webfont/otf/NotoSansKR-Regular-Hestia.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"), url(../webfont/eot/NotoSansKR-Medium-Hestia.eot), url(../webfont/eot/NotoSansKR-Medium-Hestia.eot?#iefix) format("embedded-opentype"),
    url(../webfont/woff/NotoSansKR-Medium-Hestia.woff) format("woff"), url(../webfont/otf/NotoSansKR-Medium-Hestia.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"), url(../webfont/eot/NotoSansKR-Bold-Hestia.eot), url(../webfont/eot/NotoSansKR-Bold-Hestia.eot?#iefix) format("embedded-opentype"),
    url(../webfont/woff/NotoSansKR-Bold-Hestia.woff) format("woff"), url(../webfont/otf/NotoSansKR-Bold-Hestia.otf) format("opentype");
}

@font-face {
  font-family: "Noto Sans Korean";
  font-style: normal;
  font-weight: 900;
  src: local("Noto Sans Black"), local("NotoSans-Black"), url(../webfont/eot/NotoSansKR-Black-Hestia.eot), url(../webfont/eot/NotoSansKR-Black-Hestia.eot?#iefix) format("embedded-opentype"),
    url(../webfont/woff/NotoSansKR-Black-Hestia.woff) format("woff"), url(../webfont/otf/NotoSansKR-Black-Hestia.otf) format("opentype");
}

/* CSS RESET */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Noto Sans Korean", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #222;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
textarea,
select {
  font-family: "Noto Sans Korean", sans-serif;
  font-weight: 400;
  color: #222;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  line-height: 100%;
  -webkit-appearance: none;
  appearance: none;
}
button {
  cursor: pointer;
}

input:read-only {
  background: #fafafa;
}

/* COMMON UI CSS */
html,
body {
  overflow: hidden;
}

/* HEADER CSS */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  min-width: 740px;
  height: 70px;
  margin: 0 auto;
  padding: 0 16px;
  background: #fff;
  transition: all 0.5s;
  box-sizing: border-box;
}
#header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1272px;
  height: 70px;
  margin: 0 auto;
  border-bottom: 1px solid #cbcbcb;
  box-sizing: border-box;
}
#header .e-tit {
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: -0.36px;
  text-align: left;
  color: #222;
}
#header .logo {
  height: 20px;
}
#header .container .bookmark {
  display: flex;
  align-items: flex-start;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 3;
  width: 26px;
  height: 43px;
  cursor: pointer;
}
#header .container .bookmark .active {
  display: none;
}
#header .container .bookmark:hover .disable {
  display: none;
}
#header .container .bookmark:hover .active {
  display: block;
}
#header .container .bookmark.active .disable {
  display: none !important;
}
#header .container .bookmark.active .active {
  display: block;
  opacity: 80%;
}
#header .container .bookmark.active:hover .active {
  opacity: 100%;
}
.readmode #header {
  top: -70px;
}
.readmode #header .bookmark {
  display: none;
}
/* MAIN SECTION CSS */
#main-section {
  position: relative;
  width: 100%;
  min-width: 740px;
  max-width: 1272px;
  height: calc(100vh - 173px);
  margin: 0 auto;
  margin-top: 70px;
  padding: 0 64px;
  box-sizing: border-box;
}
#main-section .viewer-section {
  /* position: relative; */
  width: 100%;
  height: 100%;
}
#main-section .navigation button {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 48px;
  height: 100%;
  cursor: initial;
}
#main-section .navigation button.prev-btn {
  left: 16px;
  text-align: left;
}
#main-section .navigation button.next-btn {
  right: 16px;
  text-align: right;
}
#main-section .navigation button .img {
  display: block;
  width: 100%;
  padding: 11px 0;
  cursor: pointer;
}
#main-section .navigation button .img:hover img {
  filter: brightness(0) saturate(100%) invert(24%) sepia(35%) saturate(0%) hue-rotate(199deg) brightness(90%) contrast(139%);
}

.readmode #main-section .navigation button .img {
  display: none;
}
.readmode #main-section .navigation button:hover .img {
  display: block;
}

/* CURRENT PAGE CSS */
.current-page {
  width: 100%;
  min-width: 740px;
  max-width: 1272px;
  margin: 0 auto;
  margin-top: 36px;
  padding: 0 48px;
  font-size: 15px;
  color: #666;
  box-sizing: border-box;
}
.current-page .percent {
  margin-right: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: -0.3px;
  text-align: left;
}
.current-page .chapter {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: -0.3px;
  text-align: left;
}
/* CUNRRET LAYER CSS */
.current-layer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 3;
  width: 100%;
  min-width: 740px;
  height: 90px;
  margin: 0 auto;
  padding: 0 16px;
  background: #fff;
  transition: all 0.5s;
  box-sizing: border-box;
}
.current-layer .container {
  width: 100%;
  max-width: 1272px;
  height: 90px;
  margin: 0 auto;
  border-top: 1px solid #cbcbcb;
  box-sizing: border-box;
}
.current-layer .progress button {
  position: absolute;
  top: -55px;
}
.current-layer .progress .prev-btn {
  left: 0;
}
.current-layer .progress .next-btn {
  right: 0;
}
.current-layer .util {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}
.current-layer .util .info {
  font-size: 15px;
  color: #555;
}
.current-layer .util .info .percent {
  margin-right: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: -0.3px;
  text-align: left;
}
.current-layer .util .info .chapter {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: -0.3px;
  text-align: left;
}
.current-layer .util .button {
  display: flex;
}
.current-layer .util .button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 38px;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  box-sizing: border-box;
}
.current-layer .util .button button:first-of-type {
  margin-right: 30px;
}
.current-layer .util .button button:hover {
  border-color: #222;
}
.current-layer .container {
  position: relative;
}
.current-layer .progress-toast {
  position: absolute;
  top: -75px;
  left: 50%;
  z-index: 2;
  width: 190px;
  height: 36px;
  margin-left: -95px;
  line-height: 36px;
  background: rgba(34, 34, 34, 0.8);
  text-align: center;
  border-radius: 38px;
}
.current-layer .progress-toast .percent {
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.32px;
  text-align: center;
  color: #fff;
}
.readmode .current-layer {
  bottom: -102px;
}

/* SIDE MENU CSS */
.side-menu {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  min-width: 740px;
}
.side-menu .container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}
.side-menu .container .util-layer {
  position: absolute;
  right: -370px;
  top: 0;
  z-index: 4;
  width: 364px;
  height: 100%;
  background: #f4f4f4;
  box-shadow: 0 3px 8px 0 rgba(75, 75, 75, 0.06);
  transition: all 0.5s;
}
.side-menu.active {
  visibility: visible;
}
.side-menu.active .container .util-layer {
  right: 4px;
}
.side-menu .util-layer .book-info {
  display: flex;
  align-items: flex-end;
  height: 230px;
  padding: 0 22px;
  background: rgba(128, 128, 128, 0.1);
  box-sizing: border-box;
}
.side-menu .util-layer .book-info .img {
  width: 112px;
}
.side-menu .util-layer .book-info .img img {
  width: 100%;
  max-width: 100%;
  border: solid 1px #d5d5d5;
}
.side-menu .util-layer .book-info .info {
  flex: 1 1;
  align-self: flex-start;
  margin-top: 66px;
  margin-left: 20px;
}
.side-menu .util-layer .book-info .info .tit {
  display: -webkit-box;
  width: 100%;
  height: 85px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.36px;
  text-align: left;
  color: #000;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}
.side-menu .util-layer .book-info .info .author,
.side-menu .util-layer .book-info .info .publisher {
  display: block;
  font-size: 14px;
  color: #727272;
}
.side-menu .util-layer .book-info .info .author {
  margin-top: 8px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.28px;
  text-align: left;
}
.side-menu .util-layer .book-info .info .publisher {
  margin-top: 6px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.28px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-menu .util-layer .scroll-container {
  height: calc(100% - 230px);
  overflow-y: auto;
}
.side-menu .util-layer .menu {
  background: #fff;
}
.side-menu .util-layer .menu ul {
  padding: 8px 22px 17px 22px;
}
.side-menu .util-layer .menu ul li {
  display: flex;
  align-items: center;
  height: 59px;
  border-bottom: 1px solid #d8d8d8;
  padding: 0 12px;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: -0.34px;
  text-align: left;
  color: #222;
  cursor: pointer;
  box-sizing: border-box;
}
.side-menu .util-layer .menu ul li img {
  margin-right: 24px;
}
.side-menu .util-layer .menu ul li:hover {
  background: var(--key-color1);
}
.side-menu .util-layer .view-type {
  padding: 0 22px 17px 22px;
  background: #fff;
}
.side-menu .util-layer .view-type button {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 3px;
  padding: 8px 12px;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: -0.34px;
  text-align: left;
  color: #d2d2d2;
}
.side-menu .util-layer .view-type button img {
  margin-right: 22px;
}
.side-menu .util-layer .view-type button.active {
  color: #222;
  font-weight: 500;
}
.side-menu .util-layer .view-type button:hover img,
.side-menu .util-layer .view-type button.active img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(96%) saturate(0%) hue-rotate(293deg) brightness(99%) contrast(73%);
}
.side-menu .util-layer .view-type button:first-child {
  margin-top: 0;
}
.side-menu .util-layer .view-type button:hover {
  color: #222;
  background: var(--key-color1);
}
.side-menu .util-layer .setting {
  margin-top: 16px;
  padding: 20px 22px 28px 22px;
  background: #fff;
}
.side-menu .util-layer .setting .e-tit {
  font-size: 18px;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.36px;
  text-align: left;
  color: #222;
}
.side-menu .util-layer .setting .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.side-menu .util-layer .setting .row .tit {
  width: 72px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: -0.3px;
  text-align: left;
  color: #333;
}
.side-menu .util-layer .setting .row .size {
  margin-right: auto;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.32px;
  text-align: left;
  color: var(--key-color0);
}
.side-menu .util-layer .setting .theme .row {
  align-items: flex-start;
}
.side-menu .util-layer .setting .theme .row01 .button {
  display: flex;
  flex-wrap: wrap;
  width: 213px;
}
.side-menu .util-layer .setting .theme .row01 .tit {
  margin-top: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: -0.32px;
  text-align: left;
  color: #333;
}
.side-menu .util-layer .setting .theme {
  margin-top: 13px;
  border-top: 1px solid #222;
  padding-top: 5px;
}
.side-menu .util-layer .setting .theme .row01 .button button {
  width: 33px;
  height: 30px;
  margin-right: 12px;
  margin-top: 11px;
  border: 1px solid #e0e0e0;
  font-size: 13px;
  color: #888;
  border-radius: 4px;
}
.side-menu .util-layer .setting .theme .row01 .button button:nth-child(5n) {
  margin-right: 0;
}
.side-menu .util-layer .setting .theme .row01 .button button.active {
  border: 2px solid var(--key-color0);
  color: var(--key-color0);
}
.side-menu .util-layer .setting .theme .row01 .button button.smoke {
  background: #f0f0f0;
}
.side-menu .util-layer .setting .theme .row01 .button button.lightgray {
  background: #ddd;
}
.side-menu .util-layer .setting .theme .row01 .button button.mistyrose {
  background: #f6eeea;
}
.side-menu .util-layer .setting .theme .row01 .button button.lightyellow {
  background: #f9f5da;
}
.side-menu .util-layer .setting .theme .row01 .button button.palegreen {
  background: #e4f2e1;
}
.side-menu .util-layer .setting .theme .row01 .button button.green {
  background: #477256;
}
.side-menu .util-layer .setting .theme .row01 .button button.darkgray {
  background: #555;
}
.side-menu .util-layer .setting .theme .row01 .button button.black {
  background: #000;
}
.side-menu .util-layer .setting .font-setting {
  margin-top: 16px;
}
.side-menu .util-layer .setting .font-setting .row {
  border-top: 1px solid #d8d8d8;
}
.side-menu .util-layer .setting .font-setting .row.font {
  position: relative;
}
.side-menu .util-layer .setting .font-setting .row.font button {
  display: flex;
  align-items: center;
  height: 47px;
}
.side-menu .util-layer .setting .font-setting .row.font button .type {
  margin-right: 10px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: -0.3px;
  text-align: left;
  color: var(--key-color0);
}
.side-menu .util-layer .setting .font-setting .row.font button img {
  transition: all 0.2s;
}
.side-menu .util-layer .setting .font-setting .row.font button.active img {
  transform: rotate(180deg);
}
.side-menu .util-layer .setting .font-setting .row.font .font-list {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 152px;
  border: 1px solid #727272;
  padding: 6px 0;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.side-menu .util-layer .setting .font-setting .row.font .font-list li {
  display: flex;
  align-items: center;
  height: 41px;
  border-top: 1px solid #cbcbcb;
  padding: 0 16px;
  font-size: 15px;
  color: #6a6a6a;
  cursor: pointer;
}
.side-menu .util-layer .setting .font-setting .row.font .font-list li:first-child {
  border-top: 0;
}
.side-menu .util-layer .setting .font-setting .row.font .font-list li:hover {
  background: var(--key-color4);
}
.side-menu .util-layer .setting .font-setting .row.font .font-list li.active {
  color: var(--key-color0);
  font-weight: 500;
  background: var(--key-color4);
}
.side-menu .util-layer .setting .font-setting .row:not(.font) {
  padding: 12px 0;
}
.side-menu .util-layer .setting .font-setting .row:not(.font) .button {
  display: flex;
}
.side-menu .util-layer .setting .font-setting .row:not(.font) button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 29px;
  margin-left: 8px;
  border: 1px solid #ccc;
  font-size: 13px;
  color: #888;
  border-radius: 4px;
}
.side-menu .util-layer .setting .font-setting .row:not(.font, .row07) button:last-child {
  margin-left: 16px;
}
.side-menu .util-layer .setting .font-setting .row:not(.font, .row07) button:last-child.active {
  border: 2px solid var(--key-color0);
  color: var(--key-color0);
}
.side-menu .util-layer .setting .font-setting .row:not(.font, .row07) button:hover {
  color: #222;
}
.side-menu .util-layer .setting .font-setting .row:not(.font, .row07) button:hover img {
  filter: brightness(0) saturate(100%) invert(6%) sepia(2%) saturate(0%) hue-rotate(151deg) brightness(97%) contrast(84%);
}
.side-menu .util-layer .setting .font-setting .row07 button {
  border: 0 !important;
}
.side-menu .util-layer .setting .font-setting .row07 button.active {
  border: 2px solid var(--key-color0) !important;
  color: var(--key-color0) !important;
}
.side-menu .util-layer .setting .font-setting .row07 button.active rect {
  fill: var(--key-color0) !important;
}
.side-menu .util-layer .setting > .mode {
  border-top: 1px solid #d8d8d8;
  padding-top: 16px;
}
.side-menu .util-layer .setting > .mode .tit {
  width: auto;
}
.side-menu .util-layer .setting > .mode .row01 {
  align-items: flex-start;
}
.side-menu .util-layer .setting > .mode .row01 > .checkbox {
  display: flex;
  justify-content: center;
}
.side-menu .util-layer .setting > .mode .checkbox label {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
}
.side-menu .util-layer .setting > .mode .checkbox label:nth-child(2) {
  margin: 0 21px;
}
.side-menu .util-layer .setting > .mode .checkbox label .txt {
  display: block;
  margin: 5px 0 6px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 2.15;
  letter-spacing: -0.26px;
  color: #555;
}
.side-menu .util-layer .setting > .mode .checkbox label .checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: 1px solid #d0d0d0;
  background: #fff;
  box-sizing: border-box;
  border-radius: 100%;
}
.side-menu .util-layer .setting > .mode .checkbox label .checkbox.active {
  border: 0;
  background: var(--key-color0);
}
.side-menu .util-layer .setting > .mode .checkbox label .checkbox img {
  display: none;
}
.side-menu .util-layer .setting > .mode .checkbox label .checkbox.active img {
  display: block;
}
.side-menu .util-layer .setting > .mode .checkbox label input {
  width: 0;
  height: 0;
  overflow: hidden;
  appearance: none;
}
.side-menu .util-layer .setting .reset {
  margin-top: 30px;
}
.side-menu .util-layer .setting .reset button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 44px;
  border: 1px solid #888;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.87;
  letter-spacing: -0.3px;
  text-align: center;
  color: #727272;
  border-radius: 22px;
}
.side-menu .util-layer .setting .reset button img {
  margin-right: 5px;
}
.side-menu .util-layer .setting .reset button:hover {
  color: #222;
}
.side-menu .util-layer .setting .reset button:hover img {
  filter: brightness(0) saturate(100%) invert(10%) sepia(0%) saturate(75%) hue-rotate(140deg) brightness(94%) contrast(90%);
}
.side-menu .util-layer .guide {
  margin-top: 16px;
  padding: 0 22px;
  padding-bottom: 142px;
  background: #fff;
}
.side-menu .util-layer .guide a {
  display: flex;
  align-items: center;
  height: 59px;
  padding: 0 10px;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.65;
  letter-spacing: -0.34px;
  text-align: left;
  color: #222;
  border-bottom: 1px solid #d8d8d8;
}
.side-menu .util-layer .guide a img {
  margin-right: 21px;
}
.side-menu .util-layer .guide a:hover {
  background: var(--key-color1);
}
.side-menu .view-util {
  position: relative;
  padding: 24px 26px 24px 22px;
  background: #fff;
}
.side-menu .view-util::before {
  position: absolute;
  top: 0;
  left: 22px;
  right: 26px;
  width: calc(100% - 48px);
  height: 1px;
  background: #d8d8d8;
  content: "";
}
.side-menu .view-util {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-menu .view-util .zoom {
  display: flex;
  align-items: center;
}
.side-menu .view-util .zoom button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 29px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.side-menu .view-util .zoom button:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(29%) saturate(5%) hue-rotate(317deg) brightness(98%) contrast(73%);
}
.side-menu .view-util .zoom .percent {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 29px;
  margin: 0 8px;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  background: #ebebeb;
  border-radius: 4px;
}
.side-menu .view-util .button {
  display: flex;
}
.side-menu .view-util .button button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 29px;
  height: 28px;
  margin-left: 14px;
  border: 1.2px solid #222;
  border-radius: 4px;
  box-sizing: border-box;
}
.side-menu .view-util .button button:hover {
  background: var(--key-color1);
}

.side-menu .setting.pdf > .mode {
  margin-top: 17px;
  border-color: #909090;
}

.side-menu .common-layer .e-tit {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 70px;
  box-sizing: border-box;
}
.side-menu .common-layer .e-tit .tit {
  margin: 21px 0 0 21px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: -0.44px;
  text-align: left;
  color: #101010;
}
.side-menu .common-layer .e-tit button {
  height: 100%;
  padding: 0 29px;
}
.side-menu .common-layer .e-tit::before {
  position: absolute;
  left: 22px;
  top: 100%;
  display: block;
  width: 378px;
  height: 1px;
  background: #222;
  content: "";
}
.side-menu .common-layer {
  position: absolute;
  right: -430px;
  top: 0;
  z-index: 5;
  width: 426px;
  height: 100%;
  background: #fff;
  visibility: hidden;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
  transition: all 0.5s;
}
.side-menu .common-layer.active {
  right: 4px;
  visibility: visible;
}
.side-menu .table-layer .content {
  height: calc(100% - 70px);
  overflow-y: scroll;
}
.side-menu .table-layer .list {
  padding-left: 22px;
}
.side-menu .table-layer.epub .list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #cbcbcb;
  padding: 10px 9px;
  cursor: pointer;
}
.side-menu .table-layer.epub .list li .chapter {
  flex: 1 1;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: left;
  color: #222;
}
.side-menu .table-layer.epub .list li .percent {
  width: 52px;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  color: #222;
}
.side-menu .table-layer.epub .list li:hover {
  background: var(--key-color1);
}
.side-menu .table-layer.epub .list li.active {
  background: var(--key-color1);
}
.side-menu .table-layer.epub .list li.active .chapter {
  color: var(--key-color0);
  font-weight: 700;
}
.side-menu .table-layer.epub .list li.active .percent {
  color: var(--key-color0);
}
.side-menu .table-layer.epub .list li.depth1 {
  padding: 16px 9px;
}
.side-menu .table-layer.epub .list li.depth2 {
  padding-left: 27px;
}
.side-menu .table-layer.epub .list li.depth3 {
  padding-left: 36px;
}
.side-menu .table-layer .content.empty {
  padding-top: 121px;
  text-align: center;
}
.side-menu .table-layer .content.empty .guide {
  display: block;
  margin-top: 24px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.36px;
  text-align: center;
  color: #222;
}
.side-menu .table-layer.pdf-comics .content .list {
  display: flex;
  flex-wrap: wrap;
}
.side-menu .table-layer.pdf-comics .content .list li {
  width: calc(33.33333333333333% - 14px);
  margin-right: 21px;
  margin-top: 20px;
  cursor: pointer;
}
.side-menu .table-layer.pdf-comics .content .list li img {
  width: 100%;
  max-width: 100%;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.side-menu .table-layer.pdf-comics .content .list li .index {
  display: block;
  margin-top: 6px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  text-align: center;
  color: #222;
}
.side-menu .table-layer.pdf-comics .content .list li:nth-child(3n) {
  margin-right: 0;
}
.side-menu .table-layer.pdf-comics .content .list li.active img {
  border: 3px solid var(--key-color0);
}
.side-menu .table-layer.pdf-comics .content .list li.active .index {
  color: var(--key-color0);
  font-weight: 500;
}

/* SEARCH LAYER CSS */
.side-menu .search-layer .search {
  position: relative;
  height: 45px;
  margin: 0 26px 0 22px;
  margin-top: 18px;
}
.side-menu .search-layer .search input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--key-color0);
  padding: 11px 82px 11px 24px;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: center;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  box-sizing: border-box;
}
.side-menu .search-layer .search input::placeholder {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: left;
  color: #b5b5b5;
}
.side-menu .search-layer .search button {
  position: absolute;
  right: 0;
  top: 0;
}
.side-menu .search-layer .search .search-btn {
  height: 100%;
  padding: 0 16px 0 6px;
}
.side-menu .search-layer .search .cancle-btn {
  right: 47px;
  height: 100%;
  padding: 0 6px;
}
.side-menu .search-layer .search-type {
  display: flex;
  height: 42px;
  margin: 0 26px 0 22px;
  margin-top: 15px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.side-menu .search-layer .search-type button {
  flex: 1 1;
  position: relative;
  height: 100%;
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: center;
  box-sizing: border-box;
}
.side-menu .search-layer .search-type button.active {
  border-bottom: 2px solid var(--key-color0);
  color: var(--key-color0);
  font-weight: 500;
}
.side-menu .search-layer .search-type button.active::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  margin-left: -6px;
  border: 6px solid var(--key-color0);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  content: "";
}
.side-menu .search-layer .search-content {
  height: calc(100% - 191px);
}
.side-menu .search-layer .search-content .search-count {
  display: flex;
  align-items: center;
  height: 36px;
  margin: 0 26px 0 22px;
  background: #f3f3f3;
}
.side-menu .search-layer .search-content .search-count .count {
  margin-left: 9px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.28px;
  text-align: left;
  color: #909090;
}
.side-menu .search-layer .search-content .search-count .count b {
  color: var(--key-color0);
}
.side-menu .search-layer .search-content .search-result {
  height: calc(100% - 36px);
  padding-left: 22px;
  overflow-y: scroll;
}
.side-menu .search-layer .search-content .search-result ul li {
  border-bottom: 1px solid #d9d9d9;
}
.side-menu .search-layer .search-content .search-result ul li button {
  width: 100%;
  padding: 20px 8px 10px 8px;
  text-align: left;
  box-sizing: border-box;
}
.side-menu .search-layer .search-content .search-result ul li .chapter {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.56px;
  text-align: left;
  color: #444;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-menu .search-layer .search-content .search-result ul li p {
  display: -webkit-box;
  margin-top: 10px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: left;
  color: #222;
  white-space: normal;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.side-menu .search-layer .search-content .search-result ul li p b {
  color: var(--key-color0);
}
.side-menu .search-layer .search-content .search-result ul li .percent {
  display: block;
  margin-top: 12px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: left;
  color: #888;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.side-menu .search-layer .search-content.empty {
  padding-top: 115px;
  text-align: center;
}
.side-menu .search-layer .search-content.empty .guide {
  display: block;
  margin-top: 12px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.36px;
  text-align: center;
  color: #222;
}
.side-menu .search-layer .search-content.default {
  padding-top: 64px;
  text-align: center;
}
.side-menu .search-layer .search-content.default .guide {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: center;
  color: #888;
}

/* NOTE LAYER CSS */
.side-menu .note-layer .type {
  display: flex;
  height: 42px;
  margin: 0 26px 0 22px;
  margin-top: 15px;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.side-menu .note-layer .type button {
  flex: 1 1;
  position: relative;
  height: 100%;
  font-size: 15px;
  color: #999;
  box-sizing: border-box;
}
.side-menu .note-layer .type button.active {
  border-bottom: 2px solid var(--key-color0);
  color: var(--key-color0);
  font-weight: 500;
}
.side-menu .note-layer .type button.active::before {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 0;
  margin-left: -6px;
  border: 6px solid var(--key-color0);
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  content: "";
}
.side-menu .note-layer .note-content {
  height: calc(100% - 127px);
}
.side-menu .note-layer .note-content .util {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 36px;
  margin: 0 26px 0 22px;
  background: #f3f3f3;
}
.side-menu .note-layer .note-content .util button {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.28px;
  text-align: left;
  color: #909090;
}
.side-menu .note-layer .note-content .util button:nth-child(2) {
  position: relative;
  padding-right: 15px;
}
.side-menu .note-layer .note-content .util button:nth-child(2)::after {
  position: absolute;
  left: 0;
  top: 50%;
  display: block;
  width: 1px;
  height: 14px;
  margin-top: -7px;
  background: #dadada;
  content: "";
}
.side-menu .note-layer .note-content .util button.active {
  color: #222;
  font-weight: 500;
}
.side-menu .note-layer .note-content .color-type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 26px 0 22px;
  padding: 12px 0;
  border-bottom: 1px solid #d9d9d9;
  box-sizing: border-box;
}
.side-menu .note-layer .note-content .color-type button {
  margin: 0 10px;
}
.side-menu .note-layer .note-content .color-type button.all {
  font-size: 15px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: center;
  color: #888;
}
.side-menu .note-layer .note-content .color-type button.all.active {
  color: var(--key-color0);
}
.side-menu .note-layer .note-content .color-type button.color {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}
.side-menu .note-layer .note-content .color-type button.lemon {
  background: #fbedb8;
}
.side-menu .note-layer .note-content .color-type button.active.lemon {
  background: #fbedb880;
}
.side-menu .note-layer .note-content .color-type button.palegreen {
  background: #e1efb8;
}
.side-menu .note-layer .note-content .color-type button.active.palegreen {
  background: #e1efb880;
}
.side-menu .note-layer .note-content .color-type button.lavendar {
  background: #cec0e9;
}
.side-menu .note-layer .note-content .color-type button.active.lavendar {
  background: #cec0e980;
}
.side-menu .note-layer .note-content .color-type button.skyblue {
  background: #b1e7f9;
}
.side-menu .note-layer .note-content .color-type button.active.skyblue {
  background: #b1e7f980;
}
.side-menu .note-layer .note-content .color-type button.palepink {
  background: #fbbfbe;
}
.side-menu .note-layer .note-content .color-type button.active.palepink {
  background: #fbbfbe80;
}
.side-menu .note-layer .note-content .color-type button.color.active {
  border: 2px solid var(--key-color0);
}
.side-menu .note-layer .note-content .content {
  height: calc(100% - 36px);
  overflow-y: scroll;
}
.side-menu .note-layer .note-content.highlight .content {
  height: calc(100% - 86px);
}
.side-menu .note-layer .note-content .content ul {
  padding-left: 22px;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li {
  display: flex;
  align-items: flex-start;
  padding: 20px 0 13px 0;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li .info {
  margin-left: 19px;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li .info .chapter {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2;
  letter-spacing: -0.56px;
  text-align: left;
  color: #444;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li .info p:not(p.memo) {
  display: -webkit-box;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: left;
  color: #222;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li .info p.memo {
  margin-top: 12px;
  padding: 12px 12px 12px 13px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.28px;
  text-align: left;
  color: #555;
  background-color: #f4f4f4;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li .info p.memo span {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  white-space: normal;
  overflow: hidden;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li .info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 14px;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li .info-wrap .per-date .percent {
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.28px;
  text-align: left;
  color: #444;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li .info-wrap .per-date .date {
  margin-left: 11px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.28px;
  text-align: left;
  color: #8b8b8b;
}
.side-menu .note-layer.epub-pdf .note-content .content ul li .info-wrap .button button {
  margin-left: 12px;
}
.side-menu .note-layer .note-content .content.empty {
  padding-top: 121px;
  text-align: center;
}
.side-menu .note-layer .note-content .content.empty span {
  display: block;
}
.side-menu .note-layer .note-content .content.empty .guide01 {
  margin-top: 21px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.22;
  letter-spacing: -0.36px;
  text-align: center;
  color: #222;
}
.side-menu .note-layer .note-content .content.empty .guide02 {
  margin-top: 6px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: center;
  color: #888;
}
.side-menu .note-layer.pdf .note-content {
  height: calc(100% - 70px);
}
.side-menu .note-layer.pdf .note-content .util {
  margin-top: 15px;
}
.side-menu .note-layer.comics .note-content {
  height: calc(100% - 70px);
}
.side-menu .note-layer.comics .note-content .content ul li {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin-top: 28px;
  cursor: pointer;
}
.side-menu .note-layer.comics .note-content .content ul li .index {
  width: 44px;
  margin: 2px 0 0 9px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -0.72px;
  text-align: left;
  color: #000;
}
.side-menu .note-layer.comics .note-content .content ul li .info {
  display: flex;
  align-items: flex-end;
}
.side-menu .note-layer.comics .note-content .content ul li .info img {
  width: 118px;
  border: 1px solid #ccc;
}
.side-menu .note-layer.comics .note-content .content ul li .info .date {
  margin: 0 0 9px 8px;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.28px;
  text-align: left;
  color: #8b8b8b;
}
.side-menu .note-layer.comics .note-content .content ul li .delete-btn {
  position: absolute;
  top: 0;
  right: 0;
}
.side-menu .note-layer.comics .note-content .content ul li:first-child {
  margin-top: 20px;
}

/* COMMENT POPUP CSS */
.comment-popup .comment {
  width: 300px;
  border: solid 1px #b5b5b5;
  padding: 0 0 21px 15px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}
.comment-popup .comment .row01 {
  display: flex;
  justify-content: space-between;
}
.comment-popup .comment .row01 .index {
  width: 120px;
  margin-top: 19px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -0.64px;
  text-align: left;
  color: #000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.comment-popup .comment .row01 button {
  display: flex;
  align-items: center;
  padding: 20px 15px 14px 0;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.43;
  letter-spacing: -0.56px;
  text-align: right;
  color: #888;
}
.comment-popup .comment .row01 button img {
  margin-left: 7px;
}
.comment-popup .comment .row02 {
  position: relative;
}
.comment-popup .comment .row02::after {
  position: absolute;
  top: -12px;
  left: 0;
  width: calc(100% - 16px);
  height: 1px;
  background: #888;
  content: "";
}
.comment-popup .comment .row02 p {
  display: -webkit-box;
  margin-top: 12px;
  padding: 0 16px 0 0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.6px;
  text-align: left;
  color: #000;
  white-space: normal;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* CONTEXTMENU CSS */
.contextmenu {
  width: 100vw;
  height: 100vh;
  background: transparent;
}
.contextmenu .menu {
  position: relative;
  z-index: 5;
  display: flex;
  width: max-content;
  background: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.contextmenu .menu button {
  display: flex;
  align-items: center;
  height: 42px;
  padding: 0 12px;
  border-left: 1px solid #b5b5b5;
  color: #f0f0f0;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: -0.15px;
}
.contextmenu .menu button:hover {
  background: var(--key-color2);
}
.contextmenu .menu button:first-child {
  border-left: 0;
  border-radius: 8px 0 0 8px;
}
.contextmenu .menu button:last-child {
  border-radius: 0 8px 8px 0;
}
.contextmenu .menu .color::after {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  content: "";
  box-sizing: border-box;
}
.contextmenu .menu .color.lemon::after {
  background: #fbedb8;
}
.contextmenu .menu .color.palegreen::after {
  background: #e1efb8;
}
.contextmenu .menu .color.lavendar::after {
  background: #cec0e9;
}
.contextmenu .menu .color.skyblue::after {
  background: #b1e7f9;
}
.contextmenu .menu .color.palepink::after {
  background: #fbbfbe;
}
.contextmenu .menu .color.active::after {
  border: 2px solid var(--key-color0);
}

/* TOAST MODAL CSS */
.toast-modal {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  display: none;
  width: 100%;
  height: 100%;
}
.toast-modal .toast-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.toast-modal .message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  line-height: 1.38;
  letter-spacing: -0.32px;
  background: rgba(64, 64, 64, 0.8);
}

.toast-modal .message.type1 {
  width: 360px;
  padding: 19px 30px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.32px;
  text-align: center;
  border-radius: 39px;
  box-sizing: border-box;
}

.toast-modal .message.type2 {
  justify-content: flex-end;
  width: 148px;
  height: 148px;
  border-radius: 100%;
}

.toast-modal .message.type2 .guide {
  display: block;
  margin-top: 11px;
  margin-bottom: 32px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.32px;
  text-align: center;
}
.toast-modal .message.type2.multi .guide {
  margin-top: 11px;
  margin-bottom: 10px;
}

/* IMG ZOOM CSS */
.img-zoom {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background: rgba(96, 96, 96, 0.6);
}
.img-zoom button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
}
.img-zoom .zoom-btn {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 58px;
  width: 100%;
}
.img-zoom .zoom-btn button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 42px;
  background: #666;
  border-radius: 20px;
}
.img-zoom .zoom-btn button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #d1d1d1;
}
.img-zoom .zoom-btn button:nth-child(2) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.img-zoom .zoom-btn button:hover {
  background: #555;
}
.img-zoom .close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 46px;
  right: 327px;
  width: 52px;
  height: 52px;
  background: #666;
  border-radius: 100%;
}
.img-zoom .img {
  height: calc(100vh - 195px);
  margin-top: 53px;
  transition: all 0.2s;
}

/* MEMO POPUP CSS */
.memo-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
}
.memo-popup .popup {
  width: 500px;
  height: 507px;
  border: solid 1px #888;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}
.memo-popup .popup .row01 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin-left: 19px;
}
.memo-popup .popup .row01 .e-tit {
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: -0.44px;
  text-align: left;
  color: #101010;
}
.memo-popup .popup .row01 .close-btn {
  height: 100%;
  padding: 0 19px;
}
.memo-popup .popup .row02 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 19px;
  border-top: 1px solid #222;
}
.memo-popup .popup .row02 button {
  width: 24px;
  height: 24px;
  margin: 0 10px;
  border-radius: 50%;
}
.memo-popup .popup .row02 button.lemon {
  background: #fbedb8;
}
.memo-popup .popup .row02 button.active.lemon {
  background: #fbedb880;
}
.memo-popup .popup .row02 button.palegreen {
  background: #e1efb8;
}
.memo-popup .popup .row02 button.active.palegreen {
  background: #e1efb880;
}
.memo-popup .popup .row02 button.lavendar {
  background: #cec0e9;
}
.memo-popup .popup .row02 button.active.lavendar {
  background: #cec0e980;
}
.memo-popup .popup .row02 button.skyblue {
  background: #b1e7f9;
}
.memo-popup .popup .row02 button.active.skyblue {
  background: #b1e7f980;
}
.memo-popup .popup .row02 button.palepink {
  background: #fbbfbe;
}
.memo-popup .popup .row02 button.active.palepink {
  background: #fbbfbe80;
}
.memo-popup .popup .row02 button.active {
  border: 2px solid var(--key-color0);
}
.memo-popup .popup .row03 {
  margin: 0 19px;
  border-top: 1px solid #888;
}
.memo-popup .popup .row03 .para-wrapper {
  height: 152px;
  padding: 7px 7px 12px 17px;
  background: rgba(251, 237, 184, 0.4);
  box-sizing: border-box;
}
.memo-popup .popup .row03 p {
  height: 100%;
  padding: 5px 14px 0 0;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: -0.28px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #222;
  overflow-y: auto;
  box-sizing: border-box;
}
.memo-popup .popup .row04 {
  margin: 0 19px;
  margin-top: 4px;
}
.memo-popup .popup .row04 textarea {
  width: 100%;
  height: 130px;
  border: 1px solid rgba(144, 144, 144, 0.6);
  padding: 13px 22px;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-align: left;
  color: #101010;
  box-sizing: border-box;
  overflow-y: auto;
  resize: none;
  outline: none;
}
.memo-popup .popup .row04 textarea::placeholder {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: left;
  color: #b5b5b5;
}
.memo-popup .popup .row05 {
  margin: 0 19px;
  margin-top: 40px;
}
.memo-popup .popup .row05 button {
  width: 100%;
  height: 48px;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.3px;
  text-align: center;
  color: #fff;
  background: var(--key-color0);
  border-radius: 6px;
}
.memo-popup .popup .row05 button .max {
  font-weight: 400;
}
.memo-popup .popup .row05 button:hover {
  background: var(--key-color3);
}

/* SCROLL CUSTOM CSS */
.side-menu .scroll-container::-webkit-scrollbar {
  width: 20px;
}
.side-menu .scroll-container::-webkit-scrollbar-thumb {
  width: 6px;
  border: 7px solid #f6f6f6;
  background-color: #e5e5e5;
  box-sizing: border-box;
  border-radius: 20px;
  min-height: 70px;
}
.side-menu .scroll-container::-webkit-scrollbar-track {
}
.side-menu .table-layer .content::-webkit-scrollbar,
.side-menu .search-layer .search-content .search-result::-webkit-scrollbar,
.side-menu .note-layer .note-content .content::-webkit-scrollbar {
  width: 26px;
}
.side-menu .table-layer .content::-webkit-scrollbar-thumb,
.side-menu .search-layer .search-content .search-result::-webkit-scrollbar-thumb,
.side-menu .note-layer .note-content .content::-webkit-scrollbar-thumb {
  width: 8px;
  border: 9px solid #fff;
  background-color: #dedede;
  box-sizing: border-box;
  border-radius: 20px;
  min-height: 70px;
}
.side-menu .table-layer .content::-webkit-scrollbar-track,
.side-menu .search-layer .search-content .search-result::-webkit-scrollbar-track,
.side-menu .note-layer .note-content .content::-webkit-scrollbar-track {
  background: #fff;
}
.memo-popup .popup .row03 p::-webkit-scrollbar {
  width: 7px;
}
.memo-popup .popup .row03 p::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: #dedede;
  border-radius: 20px;
  min-height: 70px;
}
.memo-popup .popup .row03 p::-webkit-scrollbar-track {
  background: transparent;
}
.memo-popup .popup .row04 textarea::-webkit-scrollbar {
  width: 20px;
}
.memo-popup .popup .row04 textarea::-webkit-scrollbar-thumb {
  width: 7px;
  border: 7px solid #fff;
  background-color: #dedede;
  border-radius: 20px;
  min-height: 70px;
}
.memo-popup .popup .row04 textarea::-webkit-scrollbar-track {
  background: transparent;
}

#wrap .finish-popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgba(16, 16, 16, 0.4);
}
#wrap .finish-popup .popup {
  position: relative;
  width: 380px;
  height: 290px;
  padding: 19px;
  padding-top: 50px;
  border: solid 1px #888;
  background-color: #fff;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
#wrap .finish-popup .popup .guide01 {
  display: block;
  margin-top: 19px;
  font-size: 22px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: -0.44px;
  text-align: center;
  color: #101010;
}
#wrap .finish-popup .popup .move {
  width: 100%;
  height: 48px;
  margin-top: 52px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: -0.32px;
  text-align: center;
  color: #fff;
  background: var(--key-color0);
  border-radius: 6px;
}
#wrap .finish-popup .popup .move:hover {
  background: var(--key-color3);
}
#wrap .finish-popup .popup .close-btn {
  position: absolute;
  right: 0;
  top: 0;
  padding: 22px 19px;
}
