@charset "utf-8";

@font-face {
	font-family: 'KoPubWorldBatang WF';
	font-weight: 400;
	font-style: normal;
	src: local('KoPubWorldBatang WF'),
	
		url('../webfont/KoPubWorld-Batang-Medium.woff2') format('woff2'),
		url('../webfont/KoPubWorld-Batang-Medium.woff') format('woff'),
		url('../webfont/KoPubWorld-Batang-Medium.eot'),
		url('../webfont/KoPubWorld-Batang-Medium.eot?#iefix') format('embedded-opentype'),
		url('../webfont/KoPubWorld-Batang-Medium.ttf') format('truetype');
}
/*  */
@font-face {
	font-family: 'KoPubWorldDotum WF';
	font-weight: 400;
	font-style: normal;
	src: local('KoPubWorldDotum WF'),
		url('../webfont/KoPubWorld-Dotum-Medium.woff2') format('woff2'),		
		url('../webfont/KoPubWorld-Dotum-Medium.woff') format('woff'),
		url('../webfont/KoPubWorld-Dotum-Medium.eot'),
		url('../webfont/KoPubWorld-Dotum-Medium.eot?#iefix') format('embedded-opentype'),
		url('../webfont/KoPubWorld-Dotum-Medium.ttf') format('truetype');
}


@font-face {
	font-family: 'NanumGothic';
	font-weight: 400;
	font-style: normal;
	src: local('NanumGothic'),
		url('../webfont/NanumGothic.woff') format('woff'),
		url('../webfont/NanumGothic.woff2') format('woff2'),
		url('../webfont/NanumGothic.eot'),
		url('../webfont/NanumGothic.eot?#iefix') format('embedded-opentype'),
		url('../webfont/NanumGothic.ttf') format('truetype');
}

@font-face {
	font-family: 'NanumMyeongjo';
	font-weight: 400;
	font-style: normal;
	src: local('NanumMyeongjo'),
		url('../webfont/NanumMyeongjo.woff') format('woff'),
		url('../webfont/NanumMyeongjo.woff2') format('woff2'),
		url('../webfont/NanumMyeongjo.eot'),
		url('../webfont/NanumMyeongjo.eot?#iefix') format('embedded-opentype'),
		url('../webfont/NanumMyeongjo.ttf') format('truetype');
}

@font-face {
	font-family: 'UnBatang';
	font-weight: 400;
	font-style: normal;
	src: local('UnBatang'),
		url('../webfont/UnBatang.woff') format('woff'),
		url('../webfont/UnBatang.woff2') format('woff2'),
		url('../webfont/UnBatang.eot'),
		url('../webfont/UnBatang.eot?#iefix') format('embedded-opentype'),
		url('../webfont/UnBatang.ttf') format('truetype');
}

@font-face {
	font-family: 'UnDotum';
	font-weight: 400;
	font-style: normal;
	src: local('UnDotum'),
		url('../webfont/UnDotum.woff') format('woff'),
		url('../webfont/UnDotum.woff2') format('woff2'),
		url('../webfont/UnDotum.eot'),
		url('../webfont/UnDotum.eot?#iefix') format('embedded-opentype'),
		url('../webfont/UnDotum.ttf') format('truetype');
}

@font-face {
	font-family: 'UnGothic';
	font-weight: 400;
	font-style: normal;
	src: local('UnGothic'),
		url('../webfont/KoddiUDOnGothic-Regular.woff') format('woff'),
		url('../webfont/KoddiUDOnGothic-Regular.woff2') format('woff2'),
		url('../webfont/KoddiUDOnGothic-Regular.eot'),
		url('../webfont/KoddiUDOnGothic-Regular.eot?#iefix') format('embedded-opentype'),
}