@charset "utf-8";@font-face {
    font-family: 'KoPubWorldDotum WF';
    font-weight: 400;
    font-style: normal;
    src: local('KoPubWorldDotum WF'),url(../webfont/epub/KoPubWorld-Dotum-Light.woff2) format('woff2'),url(../webfont/epub/KoPubWorld-Dotum-Light.woff) format('woff'),url(../webfont/epub/KoPubWorld-Dotum-Light.eot),url(../webfont/epub/KoPubWorld-Dotum-Light.eot?#iefix) format('embedded-opentype'),url(../webfont/epub/KoPubWorld-Dotum-Light.ttf) format('truetype')
}

@font-face {
    font-family: 'KoPubWorldBatang WF';
    font-weight: 400;
    font-style: normal;
    src: local('KoPubWorldBatang WF'),url(../webfont/epub/KoPubWorld-Batang-Light.woff2) format('woff2'),url(../webfont/epub/KoPubWorld-Batang-Light.woff) format('woff'),url(../webfont/epub/KoPubWorld-Batang-Light.eot),url(../webfont/epub/KoPubWorld-Batang-Light.eot?#iefix) format('embedded-opentype'),url(../webfont/epub/KoPubWorld-Batang-Light.ttf) format('truetype')
}

@font-face {
    font-family: NanumMyeongjo;
    font-weight: 400;
    font-style: normal;
    src: url(../webfont/epub/NanumMyeongjo.eot);
    src: local('NanumMyeongjo'),url(../webfont/epub/NanumMyeongjo.woff) format('woff'),url(../webfont/epub/NanumMyeongjo.woff2) format('woff2'),url(../webfont/epub/NanumMyeongjo.eot),url(../webfont/epub/NanumMyeongjo.eot?#iefix) format('embedded-opentype'),url(../webfont/epub/NanumMyeongjo.ttf) format('truetype')
}

@font-face {
    font-family: NanumGothic;
    font-weight: 400;
    font-style: normal;
    src: url(../webfont/epub/NanumGothic.eot);
    src: local('NanumGothic'),url(../webfont/epub/NanumGothic.woff) format('woff'),url(../webfont/epub/NanumGothic.woff2) format('woff2'),url(../webfont/epub/NanumGothic.eot),url(../webfont/epub/NanumGothic.eot?#iefix) format('embedded-opentype'),url(../webfont/epub/NanumGothic.ttf) format('truetype')
}

@font-face {
    font-family: NanumSquare;
    font-weight: 400;
    font-style: normal;
    src: url(../webfont/epub/NanumSquareR.eot);
    src: local('NanumSquare'),url(../webfont/epub/NanumSquareR.woff) format('woff'),url(../webfont/epub/NanumSquareR.eot),url(../webfont/epub/NanumSquareR.eot?#iefix) format('embedded-opentype'),url(../webfont/epub/NanumSquareR.ttf) format('truetype')
}

#contents::-webkit-scrollbar {
    display: none
}

.onepage_btn {
    cursor: pointer
}

.twopage_btn {
    cursor: pointer
}

.scroll_btn {
    cursor: pointer
}

.bdb {
    display: none!important;
    visibility: hidden!important
}

body {
    -ms-overflow-style: none;
    -ms-overflow-style: none;
    scrollbar-width: none
}

.modeChange {
    margin-left: 20px
}

.viewer_wrapper {
    position: relative;
    width: 100%
}

.viewer_inner {
    position: relative;
    width: 100%
}

.viewer_top {
    position: relative;
    width: 100%
}

.viewer_top_bottom {
    width: 100%
}

.viewer_vertical {
    height: 100%
}

.viewer_horizontal {
    width: 100%;
    height: initial
}

.viewer_top_bottom.mobile {
    width: 100%;
    padding: 1px 1px 1px 1px
}

.viewer {
    z-index: 10;
    width: 100%
}

.twoPageMode {
    z-index: 10;
    width: 100%
}

.viewer_bg {
    z-index: 1;
    width: 100%
}

.viewer_window {
    width: 100%
}

#contents {
    width: 100%;
    margin-bottom: 0 5.69620253164557%!important;
    overflow-x: hidden;
    font-family: var(--epub-contents-font-family),sans-serif!important
}

#contents_bg {
    width: 100%;
    visibility: hidden
}

#contents>li.bdb-page-chapter {
    -webkit-column-break-after: always!important;
    -moz-column-break-after: always!important;
    break-after: always!important;
    height: auto!important;
    max-height: inherit;
    page-break-before: always!important;
    text-rendering: optimizeSpeed!important;
    list-style: none!important;
    display: block!important
}

#contents>li.bdb-page-chapter>* {
    text-rendering: optimizeSpeed!important;
    font-size-adjust: none
}

#contents>li.bdb-page-chapter>* {
    font-size-adjust: none;
    font-family: var(--epub-contents-font-family),sans-serif!important
}

#contents>li.bdb-page-chapter>div {
    max-width: 99%
}

#contents>li.bdb-page-chapter aside {
    display: none!important;
    visibility: hidden!important
}

#contents>li.bdb-page-chapter a[href="javascript:void(0);"] {
    padding: 8px 0 8px 0
}

#contents>li.bdb-page-chapter a:active,#contents>li.bdb-page-chapter a:link,#contents>li.bdb-page-chapter a:visited {
    color: #00f!important
}

.bdb-page-chapter .base_smil_active {
    background-color: #ffb
}

.viewer_contents.ff_normal * {
    font-weight: 400!important
}

.viewer_contents.ff_bold * {
    font-weight: 700!important
}

:root {
    --epub-contents-font-family: 'KoPubWorldDotum WF';
    --epub-contents-font-size: 110%;
    --epub-contents-line-height: 170%;
    --epub-contents-left-right-margin: 0px;
    --epub-contents-top-bottom-margin: 0px;
    --epub-contents-text-indent: defualt;
    --epub-contents-margin-bottom: defualt;
    --epub-contents-text-align: defualt;
    --epub-contents-text-color: inherit;
    --epub-contents-background-color: white
}

.bdb-brightness-checker,.bdb-brightness-checker * {
    background-color: var(--epub-contents-background-color)!important;
    color: var(--epub-contents-text-color)!important
}

#bdb_loading_view {
    z-index: 999;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0
}

body:fullscreen {
    background: var(--epub-contents-background-color);
    background-color: var(--epub-contents-background-color)
}

body:fullscreen::backdrop {
    background: var(--epub-contents-background-color);
    background-color: var(--epub-contents-background-color)
}

.viewer_contents * {
    color: var(--epub-contents-text-color)
}

.viewer_contents.none-selection * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.viewer_contents.fs {
    -webkit-font-size-adjust: var(--epub-contents-font-size)!important;
    font-size-adjust: var(--epub-contents-font-size)!important;
    font-size: var(--epub-contents-font-size)!important
}

.viewer_contents.lh * {
    line-height: var(--epub-contents-line-height)!important
}

.viewer_contents.lrs {
    margin-left: var(--epub-contents-left-right-margin)!important
}

.viewer_contents.idt p {
    text-indent: var(--epub-contents-text-indent)!important
}

.viewer_contents.pm p {
    margin-bottom: var(--epub-contents-margin-bottom)!important
}

.viewer_contents.txtAlign p {
    text-align: var(--epub-contents-text-align)!important
}

.non_ghost_img {
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none
}

.mid_in.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: auto!important;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.mid_in.select {
    -webkit-user-select: text!important
}

.bdbunselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none!important;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.common-layer {
    -webkit-touch-callout: none;
    -webkit-user-select: none!important;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.side-menu {
    -webkit-touch-callout: none;
    -webkit-user-select: none!important;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

[epub-mutable-info] {
    -webkit-touch-callout: none;
    -webkit-user-select: none!important;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: auto!important;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.unselectable_mobile {
    -webkit-touch-callout: none;
    -webkit-user-select: none!important;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.selectable {
    user-select: auto;
    -webkit-user-select: auto!important
}

body {
    -webkit-text-size-adjust: 100%
}

.epub-cover-layer-popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10
}

.table-layer.epub .layer-wrap .content ul li.active .aladin-chapter {
    font-weight: 700
}

.table-layer.epub .layer-wrap .content ul li .aladin-chapter {
    flex: 1 1
}

.table-layer.epub .layer-wrap .content li.dept1 .aladin-chapter {
    font-size: 15px
}

.table-layer.epub .layer-wrap .content li.dept3 .aladin-chapter {
    line-height: 21px
}

.bookmark-layer .list li .aladin-chapter {
    display: block;
    margin-top: 16px;
    padding-left: 27px;
    padding-right: 13px;
    font-size: 14px;
    color: #38a5e6
}

.search-layer .search-result .list li .aladin-chapter {
    font-size: 14px;
    color: #8a8a8a
}

body[data-theme=black] .search-layer .search-result .list li .aladin-chapter {
    color: #6a6a6a
}

body[data-theme=brown] .search-layer .search-result .list li .aladin-chapter {
    color: #9b9b9b
}

.bdb-history-active {
    filter: brightness(0) saturate(100%) invert(58%) sepia(43%) saturate(740%) hue-rotate(161deg) brightness(92%) contrast(96%)!important
}

#search-contents .list li {
    cursor: pointer
}

#search-contents .list li:hover {
    background-color: rgba(56,165,230,.24)
}

#bookmark-contents div ul li {
    cursor: pointer
}

#bookmark-contents div ul li:hover {
    background-color: rgba(56,165,230,.24)
}

.current-page .single-line {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block
}

.current-page .center-spacer {
    min-width: 114px;
    width: auto;
    height: auto
}

.current-page .right-attached {
    margin-right: 12px;
    text-align: right
}

.annotaion-icon.lemon use {
    fill: #fbedb8
}

.annotaion-icon.lavendar use {
    fill: #cec0e9
}

.annotaion-icon.palegreen use {
    fill: #e2edc3
}

.annotaion-icon.palepink use {
    fill: #fbbfbe
}

.annotaion-icon.skyblue use {
    fill: #b1e7f9
}

.annotaion-icon.underline use {
    fill: #f0f0f0
}

@media screen and (orientation: portrait) {
    html {
        margin:0;
        height: 100%;
        overflow: hidden
    }

    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        touch-action: manipulation;
        -ms-overflow-style: none;
        -ms-overflow-style: none;
        scrollbar-width: none
    }
}

@media screen and (orientation: landscape) {
    html {
        margin:0;
        height: 100%;
        overflow: hidden
    }

    body {
        margin: 0;
        height: 100%;
        overflow: hidden;
        touch-action: manipulation;
        -ms-overflow-style: none;
        -ms-overflow-style: none;
        scrollbar-width: none
    }
}

::backdrop,:fullscreen {
    background-color: rgba(255,255,255,0)
}
