
:root {
    --asdadadas:sad;
    --font-color: #000;
    --link-color:#1C75B9;
    --link-white-color:#fff;
    --bg-color: rgb(243,243,243);
    --svg-table-icon-color: rgb(42,169,224)
}


[data-theme="white"] {
    --font-color: #000000;
    --link-color:#0a86da;
    --link-white-color:#c1bfbd;
    --bg-color: #FFFFFF;
    --svg-table-icon-color: #000000;
}

[data-theme="yellow1"] {
    --font-color: #000000;
    --link-color:#0a86da;
    --link-white-color:#c1bfbd;
    --bg-color: #F9F5DA;
    --svg-table-icon-color: #000000;
}

[data-theme="dark"] {
    --font-color: #c1bfbd;
    --link-color:#0a86da;
    --link-white-color:#c1bfbd;
    --bg-color: #555555;
    --svg-table-icon-color: red;
}

[data-theme="blue"] {
    --font-color: #000000;
    --link-color:#0a86da;
    --link-white-color:#c1bfbd;
    --bg-color: #7AD1FA;
    --svg-table-icon-color: white;
}

[data-theme="gray"] {
    --font-color: #000000;
    --link-color:#0a86da;
    --link-white-color:#c1bfbd;
    --bg-color: #F0F0F0;
    --svg-table-icon-color: yellow;
}

[data-theme="yellow2"] {
    --font-color: #000000;
    --link-color:#0a86da;
    --link-white-color:#c1bfbd;
    --bg-color: #F9F5DA;
    --svg-table-icon-color: #000000;
}

[data-theme="brown"] {
    --font-color: #000000;
    --link-color:#0a86da;
    --link-white-color:#c1bfbd;
    --bg-color: #9C6A35;
    --svg-table-icon-color: #bcc6c7;
}


body
{
    color: #000;
    color: var(--font-color);
    background-color: var(--bg-color);
}
li {
    list-style-type: none;
}

.my-class {
    fill: var(--svg-table-icon-color);
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}