

body[data-theme="dark"] #bdb-lottie-loading-view {
    background: #222;
}
body[data-theme="black"] #bdb-lottie-loading-view{
    background: #000;
}
body[data-theme="darkgray"] #bdb-lottie-loading-view{
    background: #555;
}
body[data-theme="green"] #bdb-lottie-loading-view{
    background: #1a3424;
}
body[data-theme="smoke"] #bdb-lottie-loading-view{
    background: #f0f0f0;
}
body[data-theme="lightgray"] #bdb-lottie-loading-view{
    background: #ddd;
}
body[data-theme="mistyrose"] #bdb-lottie-loading-view{
    background: #f6eeea;
}
body[data-theme="lightyellow"] #bdb-lottie-loading-view{
    background: #f9f5da;
}
body[data-theme="palegreen"] #bdb-lottie-loading-view{
    background: #e4f2e1;
}
  