:root {
    --container-size: 590px;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
}
input[type="file"] {
    display: none;
}
.drag-and-drop-zone {
    width: 100%;
    min-width: 10rem;
    height: 10rem;
    aspect-ratio: 1;
    border: 1px solid #333;
}

ul,li,ol{
    list-style: none;
}



.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 24px;
}

.preview-image-tag {
    width: var(--container-size);
}
.grid-container {
    width: var(--container-size);
    position: relative;
    display: block;
    margin: 0 auto;
}
.grid-container.gone {
    display: none;
}
.grid-container-item {

}