<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <title>Hello, AMPs</title>
    <!-- script -->
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-bind" src="https://cdn.ampproject.org/v0/amp-bind-0.1.js"></script>
    <script async custom-element="amp-base-carousel" src="https://cdn.ampproject.org/v0/amp-base-carousel-0.1.js"></script>
    <script async custom-element="amp-live-list" src="https://cdn.ampproject.org/v0/amp-live-list-0.1.js"></script>
    <script async custom-element="amp-embedly-card" src="https://cdn.ampproject.org/v0/amp-embedly-card-1.0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    <script async custom-element="amp-fit-text" src="https://cdn.ampproject.org/v0/amp-fit-text-0.1.js"></script>
    <script async custom-element="amp-nested-menu" src="https://cdn.ampproject.org/v0/amp-nested-menu-0.1.js"></script>
    <script async custom-element="amp-list" src="https://cdn.ampproject.org/v0/amp-list-0.1.js"></script>
    <script async custom-element="amp-user-notification" src="https://cdn.ampproject.org/v0/amp-user-notification-0.1.js"></script>

    <script src="./js/main.js"></script>
    <!-- css -->
    <link  href="./css/main.css" rel="stylesheet"/>
    <link rel="canonical" href="https://amp.dev/documentation/guides-and-tutorials/start/create/basic_markup/">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <script async>       
        window.onload = ()=> App.Loader.index()    
    </script>
</head>
<body>
    <div class="wrap">
        <!-- header -->
        <header>
            <nav>
                <h1>메인 내비게이션</h1> 
                <div>
                    <ul> 
                        <li on="tap:sidebar"><img src="./asset/svg/ic_menu.svg" alt="menu"></li> 
                    </ul>
                </div>
            </nav>
        </header>
            
        <!-- main -->
        <section class="container" id="main-section">
        </section>

        <!-- sidebar section -->
        <section>
            <!--side bar data -->
            <amp-state id="placeholderState">
                <script type="application/json">
                  {"items": [{"url": "#", "title": "Placeholder1"},{"url": "#", "title": "Placeholder2"}]}
                </script>
            </amp-state>

            <!-- side bar ui -->
            <div>
                <amp-sidebar id="sidebar" class="desktop-sidebar" layout="nodisplay" side="right">
                    <h1>Desktop Sidebar</h1>
                    <amp-list layout="fixed-height" height="44" [height]="200" src="amp-state:placeholderState" binding="no">
                        <template type="amp-mustache">
                            <div><a href="{{url}}">{{title}}</a></div>
                        </template>
                    </amp-list>
                </amp-sidebar>
            </div>
        </section>
    </div>
</body>
</html>